.feed {
    display: flex;
    gap: 56px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.content {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-direction: column;
}

.columns {
    display: flex;
    justify-content: center;
    gap: 56px;

}
