.links {
    display: flex;
    flex-direction: column;
    width: 320px;
}

.link {
    text-decoration: none;
    color: #8585AD;
    transition: linear .2s;
    width: 100%;
    height: 64px;
    text-align: center;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.activeLink {
    color: #F2F2F3;
}
.link:hover {
    opacity: .8;
}