.burgerConstructor {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.container {
    display: flex;
    max-height: 40vh;
    gap: 16px;
    flex-direction: column;
    overflow-y: auto;
}

.text {
    text-align: center;
}

.price {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 8px;
    padding-top: 40px;
    gap: 42px;
}

.currency {
    display: flex;
    align-items: baseline;
    gap: 10px;
    justify-content: flex-end;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.error {
    color: #b02828;
    opacity: .9;
    align-self: end;
}

.borderBunTop{
    box-shadow: 0 0 16px 8px rgba(51, 51, 255, .25), 0 0 8px 8px rgba(51, 51, 255, .25);
    border-radius: var(--top-constructor-item-border-radius);
    width: fit-content;
}
.borderIngredients {
    box-shadow: inset 0 0 16px 8px rgba(51, 51, 255, .25), 0 0 8px 8px rgba(51, 51, 255, .25);
    border-radius: 30px;
}
.borderBunBot {
    border-radius: var(--bottom-constructor-item-border-radius);
    box-shadow:  0 0 16px 8px rgba(51, 51, 255, .25), 0 0 8px 8px rgba(51, 51, 255, .25);
    width: fit-content;
}

.noIngredient {
    padding: 16px 24px;
    display: inline-block;
    background: #2f2f37;
    max-width: 536px;
    width: 536px;
    min-height: 80px;
    font-family: 'Jet Brains Mono';
    font-size: 16px;
    line-height: 24px;
    color: #F2F2F3;
    flex-grow: 1;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bunTop {
    border-radius: var(--top-constructor-item-border-radius);
}
.bunBot {
    border-radius: var(--bottom-constructor-item-border-radius);
}

.middle {
    border-radius: var(--common-border-radius-s);
    background: var(--background-element);
}

